.disabled{
    background-color: gray; /* Cambio de color de fondo a gris */
    color: #aaa; /* Cambio del color del texto a gris claro */
    cursor: not-allowed; /* Cambio del cursor */
}
.enabled{
    background-color: var(--verde);
}
.createProduct{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}