.button{

    border-radius: 100%;
    width: 2em;
    height: 2em;
    border: 2px solid var(--blanco);
    transition: all .5s ease-out;
}
.arrow{
    color: white;
    padding: 0;
    font-size: 2rem;
    transition: all .5s ease-out;
  }
.arrow:hover{
    transform: translateX(-5px);
}