html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --rojo: #A60512;
  --verde: #5A7302;
  --amarillo: #F2B705;
  --naranja: #BF4904;
  --blanco:#F2F2F2;
  --negro: #121212;
  font-family: "Tajawal", sans-serif;
}
/* Estilo para la barra de desplazamiento en general */
::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: var(--negro); /* Color de fondo del riel */
}

/* Estilo para el mango de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: var(--blanco);
  border-radius: 10px; /* Color del mango */
}

/* Estilo para el mango cuando se pasa el ratón por encima */
::-webkit-scrollbar-thumb:hover {
  background: var(--naranja); /* Color del mango al pasar el ratón por encima */
}
section {
  background-color: transparent;
  width: 100%;
}
input{
  font-family: var(--titlesFont);
}
p{
  font-family: var(--titlesFont);
  color: var(--blanco);
}
button{
  font-family: var(--titlesFont);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
label{
  color: var(--blanco);
}
input, select{
  border-radius: 10px;
  width: 100%;
}
body {
  background-color: var(--negro);
  margin: 0;
  overflow-x: hidden;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Tajawal", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Tajawal", sans-serif;
}
h2 {
  font-size: 3em;
  line-height: 1.1;
  font-family: "Tajawal", sans-serif;
}
h3 {
  font-size: 2em;
  line-height: 1.1;
  font-family: "Tajawal", sans-serif;
  color: var(--blanco);
}

button {
  cursor: pointer;
  height: 4rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 0.5rem;
  font-family: "Tajawal", sans-serif;
}

.link{
  color: var(--blanco);
  width: 500px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Tajawal", sans-serif;
  border: none;
  transition: all .5s ease-out;
}
.linkAdmin{
  background-color: var(--naranja);
}
.linkFactory{
  background-color: var(--amarillo);
}
.linkManager{
  background-color: var(--verde);
}
.link:hover{
  color: white;
  transform: scale(1.01);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.hide {
  display: none;
}
.valid {
  display: block;
  color: green;
}
.invalid {
  display: block;
  color: red;
}
.offscreen {
  display: none;
}
.instructions {
  display: block;
  font-size: 12px;
  width: 290px;
}

.adminColor {
  background-color: var(--negro);
  height: 100%;
}
.factoryColor {
  background-color: var(--negro);
}
.managerColor {
  background-color: var(--negro);
}
.startMenu{
  animation-name: startMenu;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes startMenu {
  0%{
    opacity: 0;
    filter: blur(3px);
  }
  100%{
    opacity: 1;
    filter: blur(0);
  }
}
