.GetProducts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 80vh;
    border: 2px solid var(--blanco);
    border-radius: 10px;
    overflow: scroll;
}
.product{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
}
.product:hover{
    border: 1px solid var(--blanco);
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: auto;
}
.button{
    height: 2em;
    width: 2em;
    border-radius: 100px;
}
.lineColor{
    background-color: rgba(176, 176, 176, 0.251);
}
.delete{
    color: var(--rojo);
    border-radius: 100px;
    border-color: var(--rojo);
    font-size: 1.2em;
    padding: 0;
}
.delete:hover{
background-color: var(--rojo);
color: var(--blanco);
}
.update{
    color: var(--amarillo);
    border-radius: 100px;
    border-color: var(--amarillo);
    font-size: 1.2em;
    padding: 0;
}
.update:hover{
    background-color: var(--amarillo);
    color: var(--blanco);
    }